@charset "UTF-8";
body li {
  list-style-type: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Verdana, san-serif;
  font-size: 16px;
  line-height: 24px;
  background-color: #000;
  color: #fff;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

header .header-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #4d4a4a;
  color: #fff;
  height: 120px;
  padding: 12px 20px;
}

header .header-body .header-title {
  margin-left: 100px;
}

header .header-body .header-logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50px;
          flex: 0 0 50px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  z-index: 3;
}

header .header-body .header-logo img {
  max-width: 100%;
  display: block;
  /* display:block чтобы подрезание внису у картинки не было */
}

header .header-body li {
  display: inline;
}

header .header-body .header-link {
  margin-left: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ff5100;
}

header .header-body a:hover {
  color: #662000;
}

@media (max-width: 767px) {
  .header-body {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header-body .header-burger {
    display: block;
    position: relative;
    width: 40px;
    height: 20px;
    position: relative;
    z-index: 3;
  }
  .header-body .header-burger span {
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header-body .header-menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
    background-color: #4d4a4a;
    padding: 100px 20px 20px 60px;
  }
  .header-body .header-burger::before,
  .header-body .header-burger::after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }
  .header-body .header-burger::before {
    top: 0;
  }
  .header-body .header-burger::after {
    bottom: 0;
  }
  .header-body .header-burger.active::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }
  .header-body .header-burger.active::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }
  .header-body .header-burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .header-body .header-menu.active {
    top: 0px;
  }
  .header-body .header-link {
    display: block;
    font-size: 24px;
    margin: 0px 0px 20px 20px;
  }
  .header-body .header-title {
    margin-left: 20px;
  }
}

h1, h2, h3 {
  color: #ff5100;
  font-family: Arial, serif;
}

#content-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 100%;
  min-height: 600px;
  margin-top: 100px;
}

#content-box .content {
  width: 75%;
  padding: 20px 20px 20px 10px;
}

#content-box aside {
  width: 25%;
  padding: 20px 0px;
}

#content-box aside li {
  margin-top: 20px;
}

#content-box aside a {
  text-decoration: none;
  color: #10b101;
  cursor: pointer;
}

@media (max-width: 767px) {
  #content-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  #content-box .content {
    width: 100%;
    padding: 20px;
  }
  #content-box aside {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 80px;
  }
  #content-box aside li {
    display: inline-block;
    margin-left: 50px;
  }
  #content-box aside li:first-of-type {
    margin-left: 0px;
  }
}

footer {
  text-align: center;
}
/*# sourceMappingURL=main.css.map */