#content_box{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: $main-size;
  max-width: $main-size;
  min-height: 600px;
  margin-top: 100px;
  .content{
    width: $content-size;
    padding: 20px 20px 20px 10px;
    .page_title{
      margin-top: 50px;
    }
  }
  aside{
   
    width: $aside-size;
    padding: 20px 0px;
    ul{
      position: fixed;
    }
    li{
      margin-bottom: 20px;
      
    }
    
    li:first-of-type{
      margin-top: 70px;
    }
    a{
      text-decoration: none;
      color: rgb(16, 177, 1);
      cursor: pointer;
    }
  }
}

@media (max-width: 767px) {
  #content_box{
   flex-direction: column-reverse;
   .content{
    width: 100%;
    padding: 20px;
  }
  aside{
    width: 100%;
    display:flex;
    justify-content: center;
    height: 80px;
    margin-bottom: 50px;
    
    li{
      display: inline-block;
      margin-left: 50px;
      
      }
    li:first-of-type{
      margin-left: 10px;
    }
     
  }
  }
}