header{
  display:flex;
  justify-content: space-between;
  align-items: center;
  background-color: $thema-color;
  color: $text-color;
  height: $header-height;
  padding: 12px 20px;
  li{
    display: inline-block;
    margin-left: 20px;
    
  }
  a{
    text-decoration: none;
    color: $link-color;
  }
  a:hover{
    color: $hover-color;
  }
}