header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;

  .header_body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $thema-color;
    color: $text-color;
    height: $header-height;
    padding: 12px 30px;

    .header_title {
      margin-left: 100px;
    }
    .header_logo {
      flex: 0 0 50px;
      border-radius: 50%;
      overflow: hidden;
      position: relative;
      z-index: 3;
    }
    .header_logo img {
      max-width: 100%;
      display: block;
      /* display:block чтобы подрезание внису у картинки не было */
    }
    // }

    li {
      display: inline;
    }
    .header_link {
      margin-left: 20px;
      text-transform: uppercase;
      text-decoration: none;
      color: $link-color;
    }

    a:hover {
      color: $hover-color;
    }
  }
}

@media (max-width: 767px) {
  .header_body {
    
      align-items: center;
      justify-content: center;
    .header_burger {
      display: block;
      position: relative;
      width: 40px;
      height: 20px;
      position: relative;
      z-index: 3;

      span {
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        top: 9px;
        transition: all 0.3s ease 0s;
      }
    }
    .header_menu {
      position: fixed;
      top: -100%;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      transition: all 0.2s ease 0s;
      background-color: $thema-color;
      padding: 100px 20px 20px 60px;
    }
    .header_burger::before,
    .header_burger::after {
      content: "";
      background-color: #fff;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      transition: all 0.5s ease 0s;
    }
    .header_burger::before {
      top: 0;
    }
    .header_burger::after {
      bottom: 0;
    }
    .header_burger.active::before {
      transform: rotate(45deg);
      top: 9px;
    }
    .header_burger.active::after {
      transform: rotate(-45deg);
      bottom: 9px;
    }
    .header_burger.active span {
      transform: scale(0);
    }
    .header_menu.active {
      top: 0px;
    }
   
    .header_link {
      display: block;
      font-size: 24px;
      margin: 0px 0px 20px 20px;
    }
    .header_title {
      margin-left: 20px;
    }
    // .content {
    //   padding: 70px 10px 10px 10px;
    // }
  }
}
