//+++++ colors +++++
$text-color: #fff;
$thema-color: rgb(77, 74, 74);
$link-color: rgb(255, 81, 0);
$menu-color: $link-color;
$hover-color: darken($link-color, 30%);
$bg-color: #000;

//+++++ fonts +++++
$text-font: Verdana, san-serif;
$header-fonts: Arial, serif;

//++++ sizes ++++
$main-size: 100%;
$content-size: 75%;
$aside-size: 25%;
$header-height: 120px;

body{
  li{
    list-style-type: none;
  }
}


