//+++++ colors +++++
$text-color: #fff;
$thema-color: rgb(77, 74, 74);
$link-color: #900;
$menu-color: $link-color;
$hover-color: darken($link-color, 30%);
$bg-color: #000;

//+++++ fonts +++++
$text-font: Verdana, san-serif;
$header-fonts: Georgia, serif;

//++++ sizes ++++
$main-size: 960px;
$content-size: 600px;
$aside-size: 320px;
$header-height: 80px;


